body {
    background-color: rgb(154,170,71);
}

.logo {
    background: url('../img/Nahual.jpg') no-repeat center;
    display:inline-block;
    width:50px;
    height:50px;
}
h1 > span {
    height:50px;
    margin: 0px;
    padding: 0px 0px 0px 15px;
    vertical-align: middle;
}
h1 {
    font-size: 16px;
    margin: 10px;
    height:40px;
    color: #ffffff;
}


/***** Fichas ********/

#memotestContainer {
    width: 70%;
    margin-left: 15%;
    height: 600px;
    text-align: center;

}

.ficha {
    display: inline;
}

.ficha img {
    width: 100px;
    height: 135px;
    border: 1px solid;

}
